.site {
	display: grid;
	grid-template-columns: auto ($size__site-sidebar);
	grid-template-areas:
		"header header"
		"main sidebar"
		"footer footer";
}

.site-header {
	grid-area: header;
}
.banner {
	grid-area: banner;
}
.site-main {
	grid-area: main;
	grid-template-columns: $default_grid;
	display: grid;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	article {
		grid-column: 2 / 3;
	}
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	grid-template-columns: $default_grid;
	display: grid;
	grid-area: footer;

}

@import "no-sidebar";
