.no-sidebar {
	.site {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"banner"
			"main"
			"about"
			"sectiontwo"
			"testimonials"
			"contact"
			"footer";
	}
	.site-header {
		display: grid;
		grid-template-columns: $default_grid;
		.grid-container {
			grid-column: 2 / 3;
			display: grid;
			grid-template-columns: 250px auto;
		}
	}

}
section {
	grid-template-columns: 1fr minmax(450px, 1200px) 1fr;
	display: grid;
	h2 {
		display: grid;
		grid-template-columns: auto;
		grid-column: 2 / 3;
		padding-top: 4rem;
	}
	
}
section#about {
	grid-area: about;
    grid-template-columns: 1fr 1fr;
    display: grid;
	overflow: hidden;
	padding: 2rem;
	h2 {
		grid-column: 1 / 3;
	}
	#home_one {
		grid-template-columns: 1fr 1fr;
		display: grid;
		grid-column: 1 / 3;
	}	
	.call2action {
		grid-column: 1 / 3;
		margin: 0 auto 3rem auto;
		h4 {
			font-size: 3rem;
			color: $color__lightgreen;
			font-weight: 300;
			text-align: center;
			margin: 2rem 0;
		}
		.buttons {
			margin: 0 auto;
			button {
				font-size: 1.5rem;
				background-color: $color__darkgreen;
				border-radius: 5px;
				margin: 0 1rem;
				a {
					color: #fff;
				}
			}
	
		}
	}
}
section#examples {
	background-color: #fff;
	padding: 4rem 0;
	grid-area: sectiontwo;
	grid-template-columns: 1fr minmax(450px, 1200px) 1fr;
    display: grid;
	overflow: hidden;
	.example_wrapper {
		grid-column: 2 / 3;
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 4rem;
		h2 {
			grid-column: 1 /3 ;
		}
		.portfolio-item {
			padding: 1rem;
			a {
				position: relative;
				display: block;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
				-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
				-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
				.caption{
					display: none;
					position: absolute;
					color:fff;
					top: 0; 
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.8);
					&.d-block {
						display: block;
					}
					div {
						width: 100%;
						position: absolute;
						top: 30%;
						text-align: center;
						h3 {
							color: #fff;
							font-weight: 600;
						}
						.tags {
							font-size: 1.2rem; 
							font-style: italic;
							color: #fff;
						}
						.exlink, .inlink {
							margin-top: 2rem;
							display: block;
							color: #fff;
							font-size: 1rem;
							img {
								width: 15px;
								margin-left: 0.5rem;
							}
						}
					}
				}
			}
		}		
	}
}
@media (max-width: 992px) {
	section#examples .example_wrapper{
		.portfolio-item {
			grid-column: 1 / 3;
			display: flex;
			a {
				margin: 0 auto;
				display: inline-block;
			}
		}
	}
	section#about #home_one {
		grid-template-columns: 1fr;
	}
}
section#testimonials {
	grid-template-columns: 1fr minmax(450px, 1200px) 1fr;
    display: grid;
	grid-area: testimonials;
	h2 {
		grid-column: 2 / 3;
	}
	.testimonial {
		grid-column: 2 / 3;
		max-width: 1000px;
		margin: 1rem auto;
		padding: 0 2rem;
		.quote {
			quotes: "“" "”" "‘" "’";
		  }
		  .quote::before {
			  content: open-quote;
			  font-size: 2rem;
		  }
		  .quote::after {
			  content: close-quote;
			  font-size: 2rem;
		  }
		img {
			border-radius: 50%;
			margin: 40px 2rem;
		}
		&.left {
			border-bottom: 1px solid rgba(0,0,0,.1);
			.quote {
				margin-left: 200px;
			}
			img {
				float: left;
			}
			.title {
				text-align: right;
			}
		}
		&.right{
			img {
				float: right;
			}
		} 
	}
}
section#contact {
	grid-area: contact;
    grid-template-columns: 1fr minmax(450px, 1200px) 1fr;
    display: grid;
	overflow: hidden;
	background-color: #fff;
	h2 {
		display: grid;
		grid-template-columns: auto;
		grid-column: 2 / 3;
	}
	
	#home_one {
		grid-template-columns: auto auto;
		display: grid;
		grid-column: 2 / 3;
		grid-gap: 2rem;
	}	
}
#home_two {
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	display: grid;
	grid-column: 2 / 3;
	grid-gap: 2rem;
	div {
		text-align: center;
	}
}
#home_three {
	grid-column: 2 / 3;
    text-align: center;
    line-height: 10px;
    margin-top: 2rem;
    font-size: 1rem;
}