﻿/*!
Theme Name: ZOO Theme
Theme URI: http://underscores.me/
Author: Ronnie Stevens
Author URI: http://underscores.me/
Description: Custom theme: ZOO Theme, developed by Ronnie Stevens
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: zoo-theme
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

ZOO Theme is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*//*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}body,button,input,select,optgroup,textarea{color:#404040;font-family:"Roboto",sans-serif;font-size:1.3rem;line-height:1.65;letter-spacing:0.8px}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local("Roboto Light"),local("Roboto-Light"),url("./fonts/roboto-v20-latin-300.woff2") format("woff2"),url("./fonts/roboto-v20-latin-300.woff") format("woff")}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local("Roboto Bold"),local("Roboto-Bold"),url("./fonts/roboto-v20-latin-700.woff2") format("woff2"),url("./fonts/roboto-v20-latin-700.woff") format("woff")}@font-face{font-family:'Comfortaa';font-style:normal;font-weight:400;src:local(""),url("./fonts/comfortaa-v29-latin-regular.woff2") format("woff2"),url("./fonts/comfortaa-v29-latin-regular.woff") format("woff")}h1,h2,h3,h4,h5,h6{clear:both}h2,h3{font-weight:400}h2{color:#8b3;font-size:3rem;text-align:center}h3{color:#00944b;font-size:1.5rem;margin-bottom:0}p{margin-bottom:1.5em}dfn,cite,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",courier,monospace;font-size:0.9375rem;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:monaco,consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size:0.9375rem}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:125%}*,*::before,*::after{box-sizing:inherit}html{box-sizing:border-box}body{background:#e9efea4d}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}ul,ol{margin:0 0 1.5em 3em}ul{list-style:disc}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:700}dd{margin:0 1.5em 1.5em}img{height:auto;max-width:100%}figure{margin:1em 0}table{margin:0 0 1.5em;width:100%}button,input[type="button"],input[type="reset"],input[type="submit"]{border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;color:rgba(0,0,0,0.8);font-size:0.75rem;line-height:1;padding:0.6em 1em 0.4em}button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{border-color:#ccc #bbb #aaa}button:active,button:focus,input[type="button"]:active,input[type="button"]:focus,input[type="reset"]:active,input[type="reset"]:focus,input[type="submit"]:active,input[type="submit"]:focus{border-color:#aaa #bbb #bbb}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{color:#666;border:1px solid #ccc;border-radius:3px;padding:3px}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus{color:#111}select{border:1px solid #ccc}textarea{width:100%}a{color:#00238d;text-decoration:none}a:visited{color:#00944b}a:hover,a:focus,a:active{color:#1e1e1e}a:focus{outline:thin dotted}a:hover,a:active{outline:0}.main-navigation{display:flex;width:100%;justify-content:flex-end;align-items:center}.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0}.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,0.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999;display:flex;flex-direction:column}.main-navigation ul ul li{padding:0.5rem 0}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li:hover>ul,.main-navigation ul ul li.focus>ul{display:block;left:auto}.main-navigation ul ul a{width:200px}.main-navigation ul li:hover>ul,.main-navigation ul li.focus>ul{left:auto}.main-navigation li{position:relative}.main-navigation a{display:block;text-decoration:none;padding:0 1rem}.main-navigation.toggled ul{display:block;position:absolute;top:77px;right:0;z-index:1000;background-color:white}@media screen and (min-width: 37.5em){.menu-toggle{display:none}.main-navigation ul{display:flex}}.site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation{margin:0 0 1.5em}.comment-navigation .nav-links,.posts-navigation .nav-links,.post-navigation .nav-links{display:flex}.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{flex:1 0 50%}.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{text-align:end;flex:1 0 50%}.site-header{background-color:rgba(255,255,255,0.75);transition:top 0.5s ease;box-shadow:0 0 10px black;transition:background-color 0.5s ease;position:fixed;top:0;right:0;left:0;z-index:1030}.site-header .site-branding{display:flex;align-items:center;padding:1rem}.site-header .site-branding .logo{height:35px}.site-header.scrolled{background-color:rgba(255,255,255,0.9)}.site-header.scrolled .site-branding{padding:1rem 1rem 0.5rem 1rem}.site-header.scrolled .site-branding .logo{height:25px}.site-header.scrolled .main-navigation a{color:#8b3}body.admin-bar .site-header{top:33px}.screen-reader-text{border:0;clip:rect(1px, 1px, 1px, 1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;clip-path:none;color:#21759b;display:block;font-size:0.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#primary[tabindex="-1"]:focus{outline:0}.alignleft{float:left;margin-right:1.5em;margin-bottom:1.5em}.alignright{float:right;margin-left:1.5em;margin-bottom:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;margin-bottom:1.5em}.widget{margin:0 0 1.5em;padding:0.5rem}.widget select{max-width:100%}.widget h2,.widget h3{text-align:center}.sticky{display:block}.post,.page{margin:0 0 1.5em}.updated:not(.published){display:none}.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}body{padding-top:100px}body .banner{margin-top:-100px}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}embed,iframe,object{max-width:100%}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:0.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em;display:grid;grid-gap:1.5em}.gallery-item{display:inline-block;text-align:center;width:100%}.gallery-columns-2{grid-template-columns:repeat(2, 1fr)}.gallery-columns-3{grid-template-columns:repeat(3, 1fr)}.gallery-columns-4{grid-template-columns:repeat(4, 1fr)}.gallery-columns-5{grid-template-columns:repeat(5, 1fr)}.gallery-columns-6{grid-template-columns:repeat(6, 1fr)}.gallery-columns-7{grid-template-columns:repeat(7, 1fr)}.gallery-columns-8{grid-template-columns:repeat(8, 1fr)}.gallery-columns-9{grid-template-columns:repeat(9, 1fr)}.gallery-caption{display:block}.site{display:grid;grid-template-columns:auto 25%;grid-template-areas:"header header" "main sidebar" "footer footer"}.site-header{grid-area:header}.banner{grid-area:banner}.site-main{grid-area:main;grid-template-columns:1fr minmax(450px, 1200px) 1fr;display:grid;overflow:hidden}.site-main article{grid-column:2 / 3}.widget-area{grid-area:sidebar}.site-footer{grid-template-columns:1fr minmax(450px, 1200px) 1fr;display:grid;grid-area:footer}.no-sidebar .site{display:grid;grid-template-columns:auto;grid-template-areas:"header" "banner" "main" "about" "sectiontwo" "testimonials" "contact" "footer"}.no-sidebar .site-header{display:grid;grid-template-columns:1fr minmax(450px, 1200px) 1fr}.no-sidebar .site-header .grid-container{grid-column:2 / 3;display:grid;grid-template-columns:250px auto}section{grid-template-columns:1fr minmax(450px, 1200px) 1fr;display:grid}section h2{display:grid;grid-template-columns:auto;grid-column:2 / 3;padding-top:4rem}section#about{grid-area:about;grid-template-columns:1fr 1fr;display:grid;overflow:hidden;padding:2rem}section#about h2{grid-column:1 / 3}section#about #home_one{grid-template-columns:1fr 1fr;display:grid;grid-column:1 / 3}section#about .call2action{grid-column:1 / 3;margin:0 auto 3rem auto}section#about .call2action h4{font-size:3rem;color:#8b3;font-weight:300;text-align:center;margin:2rem 0}section#about .call2action .buttons{margin:0 auto}section#about .call2action .buttons button{font-size:1.5rem;background-color:#28a745;border-radius:5px;margin:0 1rem}section#about .call2action .buttons button a{color:#fff}section#examples{background-color:#fff;padding:4rem 0;grid-area:sectiontwo;grid-template-columns:1fr minmax(450px, 1200px) 1fr;display:grid;overflow:hidden}section#examples .example_wrapper{grid-column:2 / 3;display:grid;grid-template-columns:auto auto;grid-gap:4rem}section#examples .example_wrapper h2{grid-column:1/3}section#examples .example_wrapper .portfolio-item{padding:1rem}section#examples .example_wrapper .portfolio-item a{position:relative;display:block;box-shadow:0 0 10px rgba(0,0,0,0.3);-moz-box-shadow:0 0 10px rgba(0,0,0,0.3);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.3)}section#examples .example_wrapper .portfolio-item a .caption{display:none;position:absolute;color:fff;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.8)}section#examples .example_wrapper .portfolio-item a .caption.d-block{display:block}section#examples .example_wrapper .portfolio-item a .caption div{width:100%;position:absolute;top:30%;text-align:center}section#examples .example_wrapper .portfolio-item a .caption div h3{color:#fff;font-weight:600}section#examples .example_wrapper .portfolio-item a .caption div .tags{font-size:1.2rem;font-style:italic;color:#fff}section#examples .example_wrapper .portfolio-item a .caption div .exlink,section#examples .example_wrapper .portfolio-item a .caption div .inlink{margin-top:2rem;display:block;color:#fff;font-size:1rem}section#examples .example_wrapper .portfolio-item a .caption div .exlink img,section#examples .example_wrapper .portfolio-item a .caption div .inlink img{width:15px;margin-left:0.5rem}@media (max-width: 992px){section#examples .example_wrapper .portfolio-item{grid-column:1 / 3;display:flex}section#examples .example_wrapper .portfolio-item a{margin:0 auto;display:inline-block}section#about #home_one{grid-template-columns:1fr}}section#testimonials{grid-template-columns:1fr minmax(450px, 1200px) 1fr;display:grid;grid-area:testimonials}section#testimonials h2{grid-column:2 / 3}section#testimonials .testimonial{grid-column:2 / 3;max-width:1000px;margin:1rem auto;padding:0 2rem}section#testimonials .testimonial .quote{quotes:"“" "”" "‘" "’"}section#testimonials .testimonial .quote::before{content:open-quote;font-size:2rem}section#testimonials .testimonial .quote::after{content:close-quote;font-size:2rem}section#testimonials .testimonial img{border-radius:50%;margin:40px 2rem}section#testimonials .testimonial.left{border-bottom:1px solid rgba(0,0,0,0.1)}section#testimonials .testimonial.left .quote{margin-left:200px}section#testimonials .testimonial.left img{float:left}section#testimonials .testimonial.left .title{text-align:right}section#testimonials .testimonial.right img{float:right}section#contact{grid-area:contact;grid-template-columns:1fr minmax(450px, 1200px) 1fr;display:grid;overflow:hidden;background-color:#fff}section#contact h2{display:grid;grid-template-columns:auto;grid-column:2 / 3}section#contact #home_one{grid-template-columns:auto auto;display:grid;grid-column:2 / 3;grid-gap:2rem}#home_two{grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));display:grid;grid-column:2 / 3;grid-gap:2rem}#home_two div{text-align:center}#home_three{grid-column:2 / 3;text-align:center;line-height:10px;margin-top:2rem;font-size:1rem}.banner{font-family:'Comfortaa';font-style:italic}.banner .innerwrapper{margin:auto auto 0 auto}.banner .innerwrapper p{text-shadow:1px 1px rgba(0,0,0,0.1);margin-bottom:8rem;padding:1rem;font-size:3rem}button.menu-toggle{background-color:transparent}button.menu-toggle #menu-icon{width:30px;height:30px}
