h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
h2, h3 {
	font-weight: 400;
}
h2 {
	color: $color__lightgreen;
	font-size: 3rem;
	text-align: center;
}
h3 {
	color: $color__midgreen;
	font-size: 1.5rem;
	margin-bottom: 0;
}