body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1.3rem;
	line-height: $font__line-height-body;
	letter-spacing: 0.8px;
}
@import "fonts";
@import "headings";
@import "copy";
