$color__background-body: #e9efea4d;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #00238d; //royalblue
$color__link-visited: #00944b; 
$color__link-hover: #1e1e1e; 
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__navlink: #ffffff;
$color__lightgreen: #88bb33;
$color__midgreen: #00944b;
$color__darkgreen: #28a745;