.site-header {
    background-color: rgba(255,255,255, 0.75);
    // width: 100%;
    transition: top 0.5s ease;
    box-shadow: 0 0 10px black;
    transition: background-color 0.5s ease;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    .site-branding {
        display: flex;
        align-items: center;
        padding: 1rem;
        .logo {
            height: 35px;
        }
    }
    &.scrolled {
        background-color: rgba(255, 255, 255, 0.9);
        .site-branding {
            padding: 1rem 1rem 0.5rem 1rem;
            .logo {
                height: 25px;
            }
    
        }
        .main-navigation {
            a {
                color: $color__lightgreen;
            }
        }
    }
}
body.admin-bar .site-header {
    top: 33px;
}